p, a, div, li, ol, ul, em {
    font-family: 'PT Serif';
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .archive__list-title, .sidebar__introduction-title a, .sidebar__introduction-description p, .nav__list-item a {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
}

.post__content {
    max-width: 70%;
}

.post__content p, em, a {
    font-size: 1.7rem;
}

.post__content em {
    color: #f23c1e;
}

.post__content :is(h1, h2, h3, h4, h5, h6) a {
    font-family: 'PT Sans Narrow';
}

.sidebar__list-item i {
    font-size: 2.6rem;
}

.highlight span {
    font-family: 'Fira Mono';
    font-size: 1.5rem;
}

#home {
    max-width: 100%;
}